@charset 'UTF-8';
  /*em html é id = em css é #
    em html é class em css é . */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
h1{
    color: blue;
}
h1#principal{
    text-align: center;
    background-color:black;
    color: aliceblue;
}
h2#principal2{
   background-color: black;
   color: aliceblue;
   text-align: center; 
}
h2{
    color:blueviolet;
}
.basico{
    background-color: brown;
}
.intermediario{
    color: chartreuse;
    background-color: black;
}
.avançado{
    color: darkgoldenrod;
}
